header nav {
  float: right;
  margin-top: 15px;
  color:white;
 
}

h2 {
	color:black;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 30px;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
 color: white;
 font-family: 'Raleway', sans-serif;

}


body {
	background: white;
}

header {
	background: #033048;
	 padding: 25px 0;
	 overflow: hidden;
	
}

div .body{
	
}

section {
	font: white;
	 padding: 25px 0;
	background: black;
}

h3 {
	color: white;
	padding: 25px 0;
}

footer {
	color:white;
	background: #033048;
}

footer ul li {
  display: inline-block;
  margin: 40px 40px 40px 40px;
 
  font-size: 24px;
 

}

section.video{
	width: 50%;
	margin:0 auto;
}

section.left {
	float: left;
	padding:0px 30px 600px 0px;
	background: #033048;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 400;
	
	}


