

header nav {
  float: right;
  margin-top: 15px;
  color:white;
 
}

h2 {
	color:black;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 30px;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
 color: white;
 font-family: 'Raleway', sans-serif;

}

header nav li {
	float: left;

	}

nav {
	width: 100%
}



body {
	
	background-image: url("../Images/shadyblackbackground.jpg");
	width: 100%;
	background-size: 100%;
	
	
}

header {
	
	 padding: 25px 0;
	 overflow: hidden;
	
}

section {
	
	font: white;
	}

h3 {
	color: white;
	padding: 25px 0;
}

footer {
	color:white;
	background: #033048;
	float: right;
	width: 100%;
	
}

footer ul {
	text-align: center;
}

footer ul li {
  display: inline-block;
  margin: 40px 40px 40px 80px;
	font-size: 24px;
 
}

footer {
	text-align: center;

}
div .footer {
	text-align: center;
}

section.video{
	
	margin:0 auto;
	width: 100%;
	text-align: center;

}


div .photo {
	padding-left: 50px;
	margin-left: 50px;
}


section.bio {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 24px;



}

section.demoreel {
	font-size: 24px;
	text-align: center;

}

span {
	font-size: 60px;
	color: black;
}

nav {
	width: 100%
}





	

