header nav {
  float: right;
  margin-top: 15px;
  color:white;
 
}

h2 {
	color:white;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
 color: white;

}


body {
	background: white;
}

header {
	background: #033048;
	 padding: 25px 0;
	 overflow: hidden;
	
}

div .body{
	
}

section {
    /* 
        If you want your font color to be white here, you should use the "color" attribute instead of "font".
        "font" is more for the font family (which font you are using - i.e. Arial, Helvetica) and size.
    */
	font: white;
	 padding: 25px 0;
	background: black;
}

h3 {
	color: white;
	padding: 25px 0;
}

footer {
	color:white;
}

footer ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  text-align: center;
  font-size: 24px;
 

}