header nav {
  float: right;
  margin-top: 15px;
  color:white;
 
}

h2 {
	color:black;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 30px;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
 color: white;
 font-family: 'Raleway', sans-serif;

}

header nav li {
	float: left;

	}

nav {
	width: 100%
}

body {
	background-image: url("../Images/shadyblackbackground.jpg");
	width: 100%;
	background-size: 100%;
	float: left;
}

.bio {
	font-family: 'Raleway', sans-serif;
	color:white;
	font: 40px;
	font-weight: 500;
	padding-bottom: 20px;
}

.banner {
	background-image: url("../Images/UnkFullPhoto.jpg");
	width: 100%;
	height:400px;
	background-size: 100%;
	padding: 100px 0px 500px 0px;
	background-repeat: no-repeat;
}

.delimag {
	background-image: url("../Images/delimagazinegrab.jpg");
	width: 50%;
	height:100px;
	background-size: 100%;
	padding: 100px 0px 500px 0px;
	background-repeat: no-repeat;
}



.soundcloudlinks {
	padding: 100px 0px 500px 0px;

}


.soundcloud {
	float: left;
}

.postphoto img{
	height: 300px;
	float: left;
	
}

.post {
	color:white;
	height:300px;
	font: 28px;
	float: left;
	
}

.post2 {
	font-family: 'Raleway', sans-serif;
	color:white;
	font: 400px;
	font-weight: 500;
	float: right;
	
}

img {
	float: left;
	width:33%;
}

.text {
	font-family: 'Raleway', sans-serif;
	float: left;
	width: 33%;
	font-size: 20px;
	font-weight: 500 

	
}


h1 {
	text-align: center;
	font:70;
	font-weight: 700;
}

.soundcloudsongs {
	float:left;
	width: 100%;
	padding: 100px 0px 500px 0px;
}

footer {
	color:white;
	background: #033048;
	float: left;
	width: 100%;
	
}

footer ul {
	text-align: center;
}

footer ul li {
  display: inline-block;
  margin: 40px 40px 40px 80px;
	font-size: 24px;
 
}

footer {
	text-align: center;

}

@media only screen and (max-width:568px) {
	body { width: 100%;
		background-size: 4000px;
		background-repeat: no-repeat;
		padding-bottom: 0px;
		}
	
h1 {
	text-align: none;
}

.text {
	width: 100%
}

.banner {
	width: 100%;
	padding: 100px 0px 0px 0px;
	height: 200px;
}

footer ul li {
  display: inline-block;
  margin: 10px 10px 10px 10px;
	font-size: 20px;
 
}
.footer {
	font-size: 16px;
}

}