body {
	background-image: url("../Images/shadyblackbackground.jpg");
	width: 100%;
	background-size: 100%;
}


header nav {
  float: right;
  margin-top: 15px;
  color:white;
 
}


header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
 color: white;
 font-family: 'Raleway', sans-serif;

}

header nav li {
	float: left;

	}

nav {
	width: 100%
}

header {
	
	 padding: 25px 0;
	 overflow: hidden;
	
}

.videomain {
	text-align: center;
}

.container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  flex-direction: row;
}

p {
	
	color: white;
}

footer {
	color:white;
	background: #033048;
	float: right;
	width: 100%;
	
}

footer ul {
	text-align: center;
}

footer ul li {
  display: inline-block;
  margin: 40px 40px 40px 80px;
	font-size: 24px;
 
}

footer {
	text-align: center;

}
div .footer {
	text-align: center;